{% extends "JOMANELCoreBundle::layout.html.twig" %}

{% block title %}
   {{'layout.1'|trans}} - {{ parent() }} {#Annonces_Adverts        {{'layout.title'|trans}}   #} 
{% endblock %}

{% block menu %}
	<br>
	<div style="border-style: solid; text-align:center; background-color: #eee;">
		<h3>{{'CoreB.layout.12'|trans }}</h3>{# Advs #}   
	    <ul class="nav nav-pills nav-stacked">
	        <li><a href="{{ path('jomanel_platform_home') }}">{{'CoreB.layout.13'|trans }}</a></li>{# Adverts list #}
	        {% if is_granted('ROLE_ADMIN') %}
	            <li><a href="{{ path('jomanel_platform_add') }}">{{'CoreB.layout.14'|trans }}</a></li>{# Add Advs #}
	            <li><a href="{{ path('jomanel_platform_purge') }}">{{'CoreB.layout.15'|trans }}</a></li>{# Purge Advs#}
	        {% endif %}
	    </ul>
	            
	    <h3>{{'CoreB.layout.16'|trans }}</h3>{# Cats #}
		    <ul class="nav nav-pills nav-stacked">
		    {% if is_granted('ROLE_ADMIN') %}
		        <li><a href="{{ path('jomanel_platform_homeCategory') }}">{{'CoreB.layout.18'|trans }}</a></li>{#Cats list#}
		        <li><a href="{{ path('jomanel_platform_addCategory') }}">{{'CoreB.layout.17'|trans }}</a></li>{#Add Cat#}
		    {% endif %}
		    <li><a href="{{ path('jomanel_platform_findAdverts') }}">{{'CoreB.layout.22'|trans }}</a></li>{# Find Advs By Cats#}
	    </ul>

	    <h4>{{'CoreB.layout.19'|trans }}</h4>{# Last Advs #}
	        {{ render(controller("JOMANELPlatformBundle:Advert:menu", {'limit': 3})) }}
    </div>
{% endblock %}

{% block body %}

  {# We define a title for all pages of the bundle, for example #}
  <h1>{{'layout.2'|trans}}</h1>{#Annonces_Adverts#}

  <hr>

  {# We define a new block, which the views of the bundle can fill #}
  {% block jomanelplatform_body %}
  {% endblock %}

{% endblock %}