{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{'CoreB.layout.1'|trans }}{% endblock %}</title>{# Platforme d\'annonces #}

    {% block stylesheets %}
      {# On charge le CSS de bootstrap depuis le site directement #}
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

      
      {% stylesheets '@JOMANELCoreBundle/Resources/public/css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
      {% endstylesheets %}

      {% stylesheets '@JOMANELPlatformBundle/Resources/public/css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
      {% endstylesheets %}
      
    {% endblock %}
  </head>

  <body style="background-color:#FFFAFA;">
    
    <div class="container-fluid">

      <!--navbar-->
      <nav class="navbar navbar-custom navbar-fixed-top">
        
        <div class="container-fluid">

          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('jomanel_core_homepage') }}">
              <span class="glyphicon glyphicon-home"></span>
              {{'CoreB.layout.2'|trans }}
            </a>
          </div>
          
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <!--languages-->
            <ul class="nav navbar-nav">
              {% if (app.request.getLocale()) == 'fr' %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ 'CoreB.layout.3'|trans }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li class="dropdown-header"><strong>{{ 'CoreB.layout.4'|trans }}</strong></li>
                      <li class="active"><a href="#"> Fr</a></li>
                      <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"> En</a></li>
                    </ul>
                  </li>
              {% endif %}
                
              {% if (app.request.getLocale()) == 'en' %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ 'CoreB.layout.5'|trans }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li class="dropdown-header"><strong>{{ 'CoreB.layout.6'|trans }}</strong></li>
                      <li class=""><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"> Fr</a></li>
                      <li class="active"><a href=""> En</a></li>
                    </ul>
                  </li>
              {% endif %}
            </ul>
            <!---->

            <!--btn sign in/log out/...etc-->
            <ul class="nav navbar-nav navbar-right">
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ app.user.username }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="{{ path('fos_user_security_logout') }}">{{'CoreB.layout.8'|trans }}</a></li>{#logout#}
                      <li><a href="{{ path('fos_user_change_password') }}">{{'CoreB.layout.24'|trans }}</a></li>{#changepass#}
                    </ul>
                  </li>
                
              {% else %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{'CoreB.layout.9'|trans }}{#sign in#} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="{{ path('fos_user_security_login') }}">{{'CoreB.layout.9'|trans }}</a></li>{#sign in#}
                      <li><a href="{{ path('fos_user_registration_register') }}">{{'CoreB.layout.10'|trans }}</a></li>{#register#}
                      <li><a href="{{ path('fos_user_resetting_request') }}">{{'CoreB.layout.23'|trans }}</a></li>{#forgot pass#}
                    </ul>
                  </li>

              {% endif %}
            </ul>
            <!---->

          </div><!--<div class="collapse navbar-collapse" id=...>-->

        </div><!--<div class="container-fluid">-->

      </nav><!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
      <!---->

      <br><br><br><br>

      <!--msg to users-->
      <div class="container-fluid" id="menu"  style="border-radius: 40px; background: #1E90FF; text-align: center;">    
        <h4 style="color:#FFFFFF">{{'CoreB.layout.25'|trans }}</h4> {#msg to users#}
      </div>    
      <!---->

      <br>

      <div class="row">

        <div class="container-fluid">

          {# Block Menu #}
          <div class="col-md-3">

            {% block menu %}
            {% endblock %}

          </div>
          <!---->
          
          {# Block Body #}
          <div class="col-md-9" id="content" >
            {% block body %}
            {% endblock %}
          </div>
          <!---->

        </div><!--<div class="container-fluid">-->

      </div><!--<div class="row">-->

      <br>
      <br>
      <br>
      <br>
    
    </div><!--<div class="container">-->
      
    <footer class="footer">
        
      <p style="color:#FFFFFF;">
        {{'CoreB.layout.20'|trans }} © {{ 'now'|date('Y') }} {{'CoreB.layout.21'|trans }}.{#Sky is...#}
        &nbsp;
        <a href="{{ path('jomanel_core_contactpage') }}">{{'CoreB.index.5'|trans }}</a>{#contact us#}
      </p>
        
    </footer>
      
    

    {% block javascripts %}
      {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {% endblock %}

  </body>
</html>

