{% extends "JOMANELCoreBundle::layout.html.twig" %}


{% block title %}
  {{'index.1'|trans }} - {{ parent() }} {# Page d\'accueil #} {# Home Page #}
{% endblock %}

{% block body %}

<h2>{{'index.2'|trans }}</h2>{#Page d\'accueil de notre site#}

  {# On affiche tous les messages flash dont le nom est « info » #}
  {% for message in app.session.flashbag.get('info') %}
    <div class="alert alert-info">Message flash : {{ message }}</div>
  {% endfor %}

  {# Pour afficher les dernières annonces, on réutilise le contrôleur menu du PlatformBundle #}
  <h3>{{'index.3'|trans }}</h3>{#Page d\'accueil de notre site#}
  {{ render(controller("JOMANELPlatformBundle:Advert:menu", {'limit': 3})) }}

  <h3>{{'index.4'|trans }}</h3>{#Derniers messages sur le forum (hypothétique)#}
  <p>
    {# Ici, on devrait utiliser un contrôleur d'un éventuel ForumBundle pour afficher les derniers posts sur le forum,
       ce n'est pas le sujet ici #}
    Bla bla bla...
  </p>

  	<ul class="nav nav-pills nav-stacked">
	    <li>
	      	<a href="{{ path('jomanel_core_contactpage') }}">
	        	{{'index.5'|trans }}{#Contactez nous#}
	      	</a>
	    </li>
	</ul>

{% endblock %}


