{% trans_default_domain 'FOSUserBundle' %}

<br>
<br>

<div class="container-fluid" style="border-radius: 20px; background: #ADD8E6; text-align: left;">
	
	<h2>{{'form.change_title'|trans}}</h2>

	<br>
	<br>

	{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
	    
	    {{ form_widget(form) }}

	    <br>
	    <br>

	    <div>
	        {#<input type="submit" value="{{ 'change_password.submit'|trans }}" />#}
	        <button type="submit" class="btn btn-primary">
                {{ 'change_password.submit'|trans }}
            </button>
	    </div>

	{{ form_end(form) }}

</div>
