{% extends "JOMANELPlatformBundle::layout.html.twig" %}

{% block title %}
   {{'delete.1'|trans}} - {{ parent() }}{#Delete an advert__Supprimer une annonce#}
{% endblock %}

{% block jomanelplatform_body %}

  <h2>{{'delete.2'|trans}}</h2>

  <p>
    {% if app.request.locale == 'fr' %}
      {{'delete.3'|trans}} "{{ advert.titleFr }}" ?{#Etes-vous certain de vouloir supprimer l\'annonce#}
    {% else %}
      {{'delete.3'|trans}} "{{ advert.titleEn }}"?{#Etes-vous certain de vouloir supprimer l\'annonce#}
    {% endif %}
  </p>

  {# On met l'id de l'annonce dans la route de l'action du formulaire #}
  <form action="{{ path('jomanel_platform_delete', {'id': advert.id}) }}" method="post">
    <a href="{{ path('jomanel_platform_view', {'id': advert.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      {{'delete.4'|trans}}{#Retour à l\'annonce#}
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value={{'delete.5'|trans}} class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}

