{% extends "JOMANELPlatformBundle::layout.html.twig" %}

{% block title %}
  Home - {{ parent() }}
{% endblock %}

{% block jomanelplatform_body %}

  <h2>Adverts list</h2>

  <ul>
    {% for advert in listAdverts %}
      <li>
        <a href="{{ path('jomanel_platform_view', {'id': advert.id}) }}">
          {{ advert.title }}
        </a>
        with {{ advert.author }},
        in {{ advert.date|date('d/m/Y') }}
      </li>
    {% else %}
      <li>No adverts yet</li>
    {% endfor %}
  </ul>

{% endblock %}
