<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

  <ul>

    {# AdvertRepository : getAvertApplications($advertTitle)#}
    {% for application in listApplications %}
      <li>
          {{ application.content }}  writed by  {{ application.author }} in  {{ application.date|date('Y-m-d') }} at {{ application.date|date('H:i:s') }}
      </li>
      
    {% else %}
      <li>No adverts yet</li>
    {% endfor %}
    


    {# AdvertRepository : getAllAdverts() // getAdvertsOfOneCategory($categoryName)
    {% for advert in listAdverts %}
      <li>
          {{ advert.title }} writed by {{ advert.author }}  in  {{ advert.date|date('Y-m-d') }} at {{ advert.date|date('H:i:s') }}
      </li>
      
    {% else %}
      <li>No adverts yet</li>
    {% endfor %}
    #}

    {# AdvertRepository : getAdvertWithCategories(array $categoryNames)
    {% for advert in listAdverts %}
      <li>
          {{ advert.title }} writed by {{ advert.author }}
      </li>
    {% else %}
      <li>No adverts yet</li>
    {% endfor %}
    #}

    {# ApplicationRepository : getApplicationsWithAdvert($limit) : X the last ones
    {% for application in listApplications %}
      <li>
          {{ application.content }} writed by {{ application.author }} ===> Advert Title : {{ application.advert.title }}
      </li>
    {% else %}
      <li>No adverts yet</li>
    {% endfor %}
    #}
  </ul>


</body>
</html>

