
{% extends "JOMANELPlatformBundle::layout.html.twig" %}

{% block title %}
  Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block jomanelplatform_body %}

  <div style="float: left; margin-right: 1em;">
    {# On vérifie qu'une image soit bien associée à l'article #}
    {% if advert.image is not null %}
      {#<img src="{{ advert.image.url }}" alt="{{ advert.image.alt }}" height="60"> #}
      <img 
        src="{{ asset(advert.image.webPath) }}"
        alt="{{ advert.image.alt }}"
      />
    {% else %}
      <p>no img</p>
    {% endif %}

  </div>

  <h2>{{ advert.title }}</h2>
  <i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>

  <div class="well">
    {{ advert.content }}
  </div>

  {% if not advert.categories.empty %}
    <p>
      Cette annonce est parue dans les catégories suivantes :
      {% for category in advert.categories %}
        {{ category.name }}{% if not loop.last %}, {% endif %}
      {% endfor %}
    </p>
  {% endif %}

  <p>

    {% if app.user %}
      {% if is_granted('ROLE_ADMIN') %}
      <a href="{{ path('jomanel_platform_home') }}" class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Retour à la liste
      </a>
      <a href="{{ path('jomanel_platform_edit', {'id': advert.id}) }}" class="btn btn-default">
        <i class="glyphicon glyphicon-edit"></i>
        Modifier l'annonce
      </a>
      <a href="{{ path('jomanel_platform_delete', {'id': advert.id}) }}" class="btn btn-danger">
        <i class="glyphicon glyphicon-trash"></i>
        Supprimer l'annonce
      </a>
      {% endif %}
      
      {% if is_granted('ROLE_USER') %}
       <a href="{{ path('jomanel_platform_apply', {'id': advert.id}) }}" class="btn btn-success">
        Apply
      </a>
      {% endif %}

    {% elseif not app.user %}
      
      <p>you must <a href="{{ path('fos_user_security_login') }}">log in </a>to apply for this job.</p>
     
    {% endif %}

  </p>

{% endblock %}

