{% extends "JOMANELPlatformBundle::layout.html.twig" %}

{% block title %}
  Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block jomanelplatform_body %}

  <!---->
  {% image 'bundles/jomanelplatform/images/civilengineering.jpg' %}
    <img src="{{ asset_url }}"  alt="Example"/>
  {% endimage %}
  <!---->
  
  <h2>
    {% if advert.image is not null %}

      <img src="{{ advert.image.url }}" alt="{{ advert.image.alt }}">
      
    {% endif %}  {{ advert.title }}
  </h2>

  <i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>

  <div class="well">
    {{ advert.content }}
  </div>

  <p>
    <a href="{{ path('jomanel_platform_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="{{ path('jomanel_platform_edit', {'id': advert.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'annonce
    </a>
    <a href="{{ path('jomanel_platform_delete', {'id': advert.id}) }}" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer l'annonce
    </a>
  </p>
  
{% endblock %}