
{% extends "JOMANELPlatformBundle::layout.html.twig" %}

{% block title %}
  {{'view.1'|trans}} - {{ parent() }}{# Lecture d'une annonce #}
{% endblock %}

{% block jomanelplatform_body %}

  {#=============================================Image=============================================#}
  {#{% if advert is not null %}#}

    <div style="float: left; margin-right: 1em;">
      {# On vérifie qu'une image soit bien associée à l'article #}
      {% if advert.image is not null %}
        {#<img src="{{ advert.image.url }}" alt="{{ advert.image.alt }}" height="60"> #}
        <img 
          src="{{ asset(advert.image.webPath) }}"
          alt="{{ advert.image.alt }}"
        />
      
      {% else %}
        <p>{{'view.2'|trans}}</p>{# pas d'image #}
      
      {% endif %}

    </div>

  {#============================================Advert=============================================#}

    <h2>
      {% if app.request.locale == 'fr' %}
        {{ advert.titleFr }}
      {% else %}
        {{ advert.titleEn }}
      {% endif %}
      
    </h2>
      {% if app.request.locale == 'fr' %}
        <i>{{'view.3'|trans}} {{ advert.author }}, {{'view.4'|trans}} {{ advert.date|date('d/m/Y') }}</i>
      {% else %}
        <i>{{'view.3'|trans}} {{ advert.author }}, {{'view.4'|trans}} {{ advert.date|date('m/d/Y') }}</i>
      {% endif %}

    <div class="well">
      {% if app.request.locale == 'fr' %}
        {{ advert.contenuFr }}
      {% else %}
        {{ advert.contenuEn }}
      {% endif %}
    </div>

    {% if not advert.categories.empty %}
      <p>
        {{'view.5'|trans}}{# Cette annonce est parue dans les catégories suivantes : #}
        {% for category in advert.categories %}
          {% if app.request.locale == 'fr' %}
            {{ category.nameFr }}{% if not loop.last %}, {% endif %}
          {% else %}
            {{ category.nameEn }}{% if not loop.last %}, {% endif %}
          {% endif %}
        {% endfor %}
      </p>
    {% endif %}


  {#===========================================Buttons=============================================#}
    <p>

      {% if app.user %} 
      
        <a href="{{ path('jomanel_platform_home') }}" class="btn btn-default">
          <i class="glyphicon glyphicon-chevron-left"></i>
          {{'view.6'|trans}}{# Retour à la liste #}
        </a>
        
        {% if is_granted('ROLE_ADMIN') %}  
          <a href="{{ path('jomanel_platform_edit', {'id': advert.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            {{'view.7'|trans}}{# Modifier l'annonce #}
          </a>
          
          <a href="{{ path('jomanel_platform_delete', {'id': advert.id}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            {{'view.8'|trans}}{# Supprimer l'annonce #}
          </a>
        {% endif %} 
          
        {#  {% if is_granted('ROLE_USER') %} #}
        <a href="{{ path('jomanel_platform_apply', {'id': advert.id}) }}" class="btn btn-success">
          {{'view.9'|trans}}{# Postuler #}
        </a>
        {#  {% endif %} #}

      {% elseif not app.user %} 
        
        <p>{{'view.10'|trans}} {#Il faut_you must#} <a href="{{ path('fos_user_security_login') }}">{{'view.11'|trans}}{#Se connécter_log in#} </a>{{'view.12'|trans}}{#pour postuler à cet offre_to apply for this job#}.
        </p>
       
      {% endif %}

    </p>

  {#{% else %}
    <p> Cette annonce n'existe pas !</p>

  {% endif %}#}

{% endblock %}

