{% extends "JOMANELPlatformBundle::layout.html.twig" %}

{% block title %}
  {{'category.index.1'|trans}}  - {{ parent() }}  
{% endblock %}

{% block jomanelplatform_body %}

    <ul>

      {% if presenceAdvsInCat == true %}

        {% for advert in category.adverts %}
          
          <li>
            
            
            <a href="{{ path('jomanel_platform_view', {'id': advert.id}) }}">
              {% if app.request.locale == 'fr' %}
                {{ advert.titleFr }}{% if not loop.last %}, {% endif %}

              {% else %}
                {{ advert.titleEn }}{% if not loop.last %}, {% endif %}

              {% endif %}
             </a>


          </li>

        {% endfor %}

      {% else %}
        
        <li>{{'viewCatAdvsList.1'|trans}}</li>{#Pas d'annonces dans cette catégorie.#}

      {% endif %}

    </ul>



{% endblock %}








